<!-- This order is important to ensure that the options in "style.css" override the defaults in "terminal.css" -->
{{$style_sheets := slice "terminal.css" "style.css" }}
{{if .styles}}
  {{$style_sheets = union $style_sheets .styles}}
{{end}}

{{ $title := default "Personal website of tye; Sharing who they are and their interests" .title }}
<head>
  <meta charset="UTF-8">
  <title>Tye's home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{$title}}">
  <!-- Populate style sheets -->
  {{ range $style_sheets }}
  {{ $sheet:= resources.Get . | minify }}
  <link rel="stylesheet" href="{{ $sheet.Permalink }}">
  {{ end }}
</head>