.list_pages {
  display: grid;
  grid-template-columns: 20% auto auto;
}

.list_pages header {
  margin: 0;
  font-weight: bold;
}

.separator {
  width: 2%;
  /* height: 0; */
  padding-right: 10px;
  border-left: 1px dashed var(--secondary-color);
  ;
}

.hseparator {
  height: 0;
  border-bottom: solid;
}