<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Tye's home</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Personal website of tye; Sharing who they are and their interests">
    <!-- Populate style sheets -->
    {{ partial "stylesheet" (slice "terminal.css" "style.css")}}
    <!-- Extra stylesheets -->
    {{block "stylefiles" . }}{{end}}
  </head>
  <body>
    <div class="topbar invisible-mobile">
      <nav class="link-prompt">
        {{ $links := where .Ancestors "Title" "ne" "Blogs"}}
        {{ $links = $links | append .Page }}
        {{ range ($links) }}
        >
        <a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a>
        {{- end -}}
      </nav>
    </div>
    {{ block "body" . }}
      Will be replaced by "define block" content. 
    {{ end }}
    <footer class="hide-desktop desktop-promotion">
      <hr>
      <p>Works best in desktop &lt;3</p>
    </footer>
  </body>
</html>