{{ define "body" }}
<div class="container">
  <div class="about">
    <div class="terminal-card hide-mobile">
      <header>Tye : She/They</header>
      <div>
        <picture>
          <source class="pfp" srcset="images/pfp.avif" type="image/avif">
          <img class="pfp" src="images/pfp.jpg" alt="Drawing of a cat holding a fish">
        </picture>
      </div>
    </div>
    <div class="about-text">
      {{ .Content }}
    </div>
  </div>
  <!-- End of about -->
  <hr class="about-ender">
  <h2>Blogs</h2>
  <div class="hide-mobile">
    {{ with .GetPage "blog" }}
    <!-- Headers -->
    <div class="list_pages">
      <header>Title</header>
      <div class="separator"></div>
      <header>Extract</header>
    </div>
    <hr style="margin: 0;">
    <!-- Content -->
    {{- range .Pages -}}
    <div class="list_pages">
      <a href="{{ .RelPermalink | safeURL}}">{{- .LinkTitle -}}</a>
      <div class="separator"></div>
      <div>
        <!-- Replace header tags, as they take up too much space -->
        {{- .Content | replaceRE `h\d` "strong" | safeHTML | truncate 250 -}}
      </div>
    </div>
    <hr style="margin: 0;">
    {{- end -}}
  {{ end }}
  </div>
  <div class="hide-desktop">
    {{ with .GetPage "blog" }}
    {{- range .Pages -}}
    <a href="{{ .RelPermalink | safeURL}}"><h3>{{- .LinkTitle -}}</h3></a>
    <div>
      <!-- Replace header tags, as they take up too much space -->
      {{- .Content | replaceRE `h\d` "strong" | safeHTML | truncate 200 -}}
    </div>
    <hr style="margin-top: 0;">
    {{end}}
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "stylefiles" }}
    {{ partial "stylesheet" (slice "home.css" "list_pages.css")}}
{{end}}