{{ define "body" }}
<div class="container">
  <div class="about">
    <div class="terminal-card">
      <header>Tye : She/They</header>
      <div>
        <picture>
          <source class="pfp" srcset="images/pfp.avif" type="image/avif">
          <img class="pfp" src="images/pfp.jpg" alt="Drawing of a cat holding a fish">
        </picture>
      </div>
    </div>
    <div class="about-text">
      <h1>
        {{ .Title }}
      </h1>
      {{ .Content }}
    </div>
  </div>
  <!-- End of about -->
  <hr class="about-ender">
  <h2>Blogs</h2>
  {{ with .GetPage "blog" }}
  <!-- Headers -->
  <div class="list_pages">
    <header>Title</header>
    <div class="separator"></div>
    <header>Extract</header>
  </div>
  <hr style="margin: 0;">
  <!-- Content -->
  {{- range .Pages -}}
  <div class="list_pages">
    <a href="{{ .RelPermalink | safeURL}}">{{- .LinkTitle -}}</a>
    <div class="separator"></div>
    <!-- Adds own <p> tag -->
    {{- .Content | truncate 250 -}}
  </div>
  <hr style="margin: 0;">
  {{- end -}}
  {{ end }}
</div>
{{ end }}

{{ define "stylefiles" }}
    {{ partial "stylesheet" (slice "home.css" "list_pages.css")}}
{{end}}