{{define "body"}}
<input type="checkbox" id="menu-toggle" class="menu-toggle hide-desktop">
<label for="menu-toggle" class="overlay hide-desktop"></label>
<div class="container">
  <div class="menu">
    <div class="terminal-card">
      <header>Tye : She/They</header>
      <div>
        {{ partial "image" (dict "path" "pfp.png" "class" "pfp" "dimensions" "512x512" "alt" "Drawing of a cat holding a fish")}}
      </div>
    </div>
    <h3 class="way-out">Way Out</h3>
    <nav>
      <ul>
        {{ $links := where .Ancestors "Title" "ne" "Blogs"}}
        {{ $links = $links | append .Page }}
        {{ range ($links) }}
        <li class="path-link">
          >
          <a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a>
        </li>
        {{- end -}}
      </ul>
    </nav>
    <h3>Jump Table</h3>
    {{ .TableOfContents }}
  </div>
  <div class="content">
    <div class="page-info">
      {{- $modified := "" -}}
      {{- $created := "" -}}
      {{- with .GitInfo -}}
      {{- /* If past commits, then take the earliest as the creation date */ -}}
      {{- range .Ancestors | last 1 -}}
      {{- $created = .CommitDate.Format "2 Jan 2006" -}}
      {{- end -}}
      {{- if ge (len .Ancestors) 1 -}}
      {{- $modified = .CommitDate.Format "2 Jan 2006" -}}
      {{- else -}}
      {{- $created = .CommitDate.Format "2 Jan 2006" -}}
      {{- end -}}
      {{- end -}}
      {{ if $modified }}<p>Last Modified: {{ $modified -}}</p>{{ end }}
      <p>Reading time: {{ .ReadingTime -}}m</p>
      <p>Word Count: {{ .WordCount -}}</p>
      <p>Created On: {{ $created -}}</p>
    </div>
    <hr class="info-separator">
    {{ .Content }}
  </div>
</div>
<label for="menu-toggle" class="menu-button hide-desktop">
  <p class="menu-closed">Open Menu</p>
  <p class="menu-opened">Close Menu</p>
</label>
{{ end }}

{{ define "stylefiles" }}
{{ partial "stylesheet" (slice "page.css") }}
{{ end }}